@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');
body {
	display: flex;
	flex-direction: column;
	font-family: Montserrat;
	background: #EED6D3;
	margin: 0;
}


.head {
	aspect-ratio: 900/450;
	width: 100%;
    height: clamp(30vw, 35rem, 35vh);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	background-image: url('./waves.svg');
}

.name {
	padding-top: 2rem;
	font-weight: 900;
	color: #EED6D3;
	font-size: clamp(32pt, 8vw, 58pt);
	text-align: center;
}

.sub {
	color: #EED6D3;
	font-size: clamp(24pt, 2vw, 38pt);
	padding-left: 16.5%;
}

.home {
    text-align: center;
    background: #E8B4B8;
    width: 50px;
    height: 50px;
    border-radius: 200%;
    margin: auto;
    transition: transform 0.8s;
}

.cards {
	display: flex;
    flex-wrap: wrap;
}

.card {
    flex-grow: 1;
    border-radius: 10px;
    font-weight: 900;
    font-size: 40pt;
    margin: 10px;
    padding: 0px 10px;
	background: #E8B4B8;
    text-align: center;
    color: #67595E;
    border: 4px solid #67595E;
    box-shadow: 4px 4px 0px #67595E;
    transition: all 100ms ease-in;
}

.card:hover {
    margin-top: 14px;
    margin-left: 14px;
    margin-bottom: 6px;
    margin-right: 6px;
    box-shadow: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}
