img.item {
	width: 100px;
	height: 100px;
}

body {
	background-color: black;
	color: blue;
	font-family: 'Brush Script MT', cursive;
}

table {
	border: 1px solid white;
}

td {
	background-color: grey;
	border: 1px solid grey;
}

th {
	background-color: white;
}
